.form-area {
  background: #e5e5e5;
  margin-left: 370px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  padding-top: 30px;
  position: relative;
}

.h4-padding {
  padding-left: 220px;
  padding-bottom: 30px;
}

.input-space {
  margin-bottom: 25px
}

.input-space input {
  border: 1px solid #ccc;
  height: 35px;
  outline: 0;
  padding: 10px;
  width: 50%;
}

.input-space select {
  width: 50%;
  height: 35px;
  outline: 0;
  padding: 0 10px;
  border: 1px solid #ccc
}

.purchase-button {
  margin-left: 460px;
}

select {
  color: #828482
}


