.form {
  margin-left: 450px;
}

.form-desc {
  margin-bottom: 50px;
}

.h4-pad {
  padding-left: 200px;
  padding-bottom: 30px;
}

.input-space {
  margin-bottom: 25px;
}

.input-space input {
  border: 1px solid #ccc;
  height: 35px;
  width: 50%;
}

.input-space select {
  color: black;
  height: 35px;
  width: 50%;
}

.purchase-button {
  margin-top: 20px;
  margin-left: 415px;
}
