<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <header class="header-format">
    <div class="section-content">
      <div class="container-fluid">
        <div class="section-wrap">
          <a routerLink="/welcome">
            <img src="/assets/images/logo.png"
                 alt="logo"
                 class="header-logo-size img-responsive">
          </a>
          <app-category-menu></app-category-menu>
          <app-search-bar></app-search-bar>
          <app-cart-info></app-cart-info>
          <app-login></app-login>
        </div>
      </div>
    </div>
  </header>
</nav>
