.total-btn-margin {
  margin-right: 140px;
  margin-top: 5px;
}

.table-cart-details {
  margin-left: 250px;
  width: 65%;
}

.th-width5 {
  width: 5%;
}

.th-width20 {
  width: 20%;
}

.th-width25 {
  width: 25%;
}

.total-price-margin {
  margin-left: 690px;
}

.free-delivery {
  font-weight: 600;
  margin-left: 710px;
}
