<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/welcome/01_welcome.jpg"
           alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>The taste of tradition</h1>
      <h3>Traditional bread baking with wheat and rye flours from the leaven.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/welcome/02_welcome.jpg"
           alt="Random second slide">
    </div>
    <div class="carousel-caption ">
      <h1>Cakes for Any Occasion</h1>
      <h3>Find the perfect cake or cookie for celebrating birthday or special event.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/welcome/03_welcome.jpg"
           alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h1>Free delivery</h1>
      <h3>Same day delivery for order placed before 2pm.</h3>
    </div>
  </ng-template>
</ngb-carousel>
