footer {
  background-color: #F5F5F5;
  padding: 10px 0;

  .contact-link {
    display: inline-block;
    width: 100%;
    color: #333;
  }

  .footer-icons {
    padding-left: 10px;
    font-size: 15px;
    color: #333;
  }

  .footer-icon-fb {
    font-size: 25px;
  }

  h6 {
    font-weight: 600;
  }

  .opening-time {
    padding-left: 15px;
  }

}
