<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class>
          <h6>Location</h6>
          <div>Warsaw, 01-234</div>
          <div>Mazowiecka 245</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <h6>Stay in touch</h6>
          <div class="footer-widget-content">
            <a href="tel:+48600600600"
               class="contact-link">+48 600-600-600</a>
            <a href="mailto:contact@ebakery.pl"
               class="contact-link">contact@ebakery.pl</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <h6>Opening hour</h6>
          <div class="footer-widget-content">
            <div>mon-fri 6am - 10pm</div>
            <div>sat 6am - 6pm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
