.cart-info {
  color: #828482;
  margin-left: 70px;
}

#cart-items-amount {
  font-size: 12px;
  margin-right: 20px;
}

i.cart-icon {
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 20px;
}

.text-decoration-none {
  text-decoration: none;
}
