.product-box {
  margin-bottom: 80px;
  margin-left: 75px;
  width: 200px;
}

.product-box img {
  margin-bottom: 5px;
  width: 185px;
}

.product-box-name {
  color: black;
  float: left;
  font-weight: 500;
  margin-top: 7px;
}

.product-box-price {
  color: black;
  font-weight: 400;
  text-align: right;
  margin-top: 7px;
  margin-bottom: 100px;
}
